<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pokemon Lista</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .title-container {
            text-align: center;
            margin: 20px 0;
        }

        .title-container h1 {
            font-size: 2.5em;
            color: #007bff;
            font-weight: bold;
        }

        .container {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        img {
            width: 100px;
            height: 100px;
        }

        .card {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 200px;
            text-align: center;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            width: 100%;
            height: auto;
        }

        .card h2 {
            margin: 0;
            padding: 10px;
            background-color: #f4f4f4;
        }

        .card a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #007bff;
            border-top: 1px solid #ddd;
        }

        .card a:hover {
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>
    <div class="title-container">
        <h1>Listado de Pokémon <img src="/images/pokeball.png"></h1>
    </div>


    <div class="container">
        <% pokemons.forEach(function(pokemon) { %>
            <div class="card">
                <img src="http://localhost:3000/images/<%= pokemon.imagen %>" alt="<%= pokemon.nombre %>">
                <h2>
                    <%= pokemon.nombre %>
                </h2>
                <!-- Detalles del Pokémon -->
                <ul class="list-disc pl-4">
                    <li>Especie: <%= pokemon.especie %>
                    </li>
                    <li>Tipo: <%= pokemon.tipo.join(", ") %></li>
                    <li>Altura: <%= pokemon.altura %> metros</li>
                    <li>Peso: <%= pokemon.peso %> kg</li>
                    <li>Vida: <%= pokemon.vida %></li>
                    <li>Puntos de Salud en Juego: <%= pokemon.puntosSaludJuego %></li>
                    <% if(pokemon.preevolucion) { %>
                        <li>Preevolución: <%= pokemon.preevolucion %></li>
                    <% } %>
                    <% if(pokemon.evolucion) { %>
                        <li>Evolución: <%= pokemon.evolucion %></li>
                    <% } %>
                    <li>Habilidades:</li>
                    <ul>
                        <% pokemon.habilidades.forEach(function(habilidad) { %>
                            <li><%= habilidad.nombre %>: <%= habilidad.damage %> daño</li>
                        <% }); %>
                    </ul>
                </ul>
                <a href=" /pokemon/<%=pokemon._id %>">Ver Detalles</a>
            </div>
            <% }); %>
    </div>
</body>

</html>